{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags static %}
{% block titletag %}{% blocktrans trimmed with snippet_type_name=model_opts.verbose_name %}New  {{ snippet_type_name }}
{% endblocktrans %}{% endblock %}
{% block bodyclass %}widget-editor{% endblock %}
{% block content %}
    {% include 'wagtailadmin/shared/headers/slim_header.html' %}

    <div id="map-widget-editor-container" style="flex: 1;height: 100%"></div>




    <form id="widget-form" action="{{ action_url }}" method="POST" novalidate{% if form.is_multipart %}
          enctype="multipart/form-data"{% endif %} data-edit-form>
        {% csrf_token %}

        {{ form.initial|json_script:"initial-data" }}

        <div style="display: none">
            {{ panel.render_form_content }}
        </div>

        <footer class="footer">
            <nav aria-label="{% trans 'Actions' %}" id="submit-actions">
                <ul>
                    <li class="actions actions--primary footer__container">
                        <div class="dropdown dropup dropdown-button match-width">
                            {{ action_menu.render_html }}
                        </div>
                    </li>
                </ul>
            </nav>
        </footer>
    </form>

{% endblock %}


{% block extra_css %}
    {{ block.super }}
    {{ media.css }}

    <style>


        .widget-editor .content-wrapper > .content {
            height: 100%;
            overflow: hidden;
            padding: 0 !important;
        }

        .widget-editor .footer .actions {
            width: 250px !important;
        }

    </style>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ media.js }}

    <script src="{% static 'geodash/js/widget-editor/map-widget-editor.js' %}"></script>


    <script>
        // Set wagtailConfig.ACTIVE_CONTENT_LOCALE if this is a translated page
        // This value may be used by JS widgets on the form
        {% if locale %}
            window.wagtailConfig = window.wagtailConfig || {};
            window.wagtailConfig.ACTIVE_CONTENT_LOCALE = '{{ locale.language_code|escapejs }}';
        {% endif %}
    </script>
    <script>
        const elementId = "map-widget-editor-container"
        const datasetsListUrl = "{% url 'datasets-list' %}";

        const fields = [
            'title',
            'description',
            'caption',
            'dataset',
            'layer',
            'has_time',
            'time',
            'labels',
            'basemap',
            'show_boundaries'
        ]


        const requiredFields = ['title', 'dataset', 'layer',]
        const validateWidgetData = (widgetData) => {
            const missingFields = requiredFields.filter(f => !widgetData[f])

            if (missingFields.length) {
                return false
            }

            return !(widgetData.has_time && !widgetData.time);
        }


        $(document).ready(() => {

                // hide minimap
                $('[data-minimap-container]').hide()

                // disable submit buttons by default
                const submitButtons = $('#submit-actions button')
                submitButtons.prop('disabled', true)


                const editorConfig = {
                    saveWidget: (widgetData) => {
                    },
                    fetchDatasets: (queryParams) => {
                        return fetch(datasetsListUrl).then(res => res.json()).then(data => data.filter(d => {
                            return !d.isBoundary && d.layers && !!d.layers.length
                        }))
                    },
                    onWidgetUpdated: (widgetData) => {
                        const isValid = validateWidgetData(widgetData)
                        submitButtons.prop('disabled', !isValid)

                        const {layer_type} = widgetData

                        switch (layer_type) {
                            case 'raster_file':
                                widgetData.raster_file_layer = widgetData.layer
                                break
                            case 'raster_tile':
                                widgetData.raster_tile_layer = widgetData.layer
                                break
                            case 'vector_file':
                                widgetData.vector_file_layer = widgetData.layer
                                break
                            case 'vector_tile':
                                widgetData.vector_tile_layer = widgetData.layer
                                break
                            case 'wms':
                                widgetData.wms_layer = widgetData.layer
                                break
                            default:
                                break
                        }
                        Object.keys(widgetData).forEach(key => {
                            const input_selector = "[name='" + key + "']"
                            const input = $(input_selector)
                            if (input.length) {
                                if (input.is(":checkbox")) {
                                    if (widgetData[key] === true || widgetData[key] === 'true') {
                                        input.prop('checked', true)
                                    } else {
                                        input.prop('checked', false)
                                    }
                                } else {
                                    input.val(widgetData[key])
                                }
                            }
                        })
                    }
                }

                const initialDataEl = document.getElementById('initial-data')
                let initialData = {}
                if (initialDataEl) {
                    try {
                        const data = JSON.parse(initialDataEl.textContent);

                        initialData = fields.reduce((acc, field) => {
                            if (data[field]) {
                                acc[field] = data[field]
                            }
                            return acc
                        }, {})


                    } catch (e) {
                        console.error('Error parsing initial data', e)
                    }
                }


                // initialize editor
                WidgetEditor.initializeMapWidgetEditor(elementId, editorConfig, initialData)
            }
        )
    </script>
{% endblock %}
